<!DOCTYPE html>
<html>
    <head>
        <title>Scrabble</title>
    </head>
    <body>
        <h1>Scrabble</h1>
        <form action="/results" method="get">
            <label for="input">Input<label>
            <input name="input" type="text">
            <button type="submit">Submit</button>
        </form>
    </body>
</html>
